{% extends "base.html" %}

{% from "macroses/social.macro" import social as social%}

{% block headerContent %}
<title>Чатыр-Даг яйла | Украинская сторонка</title>
<link rel="canonical" href="{{ getUrlByAlias('chatyr-dag-yayla') }}">
{% endblock %}


{% block bodyStyles %}single single-post postid-73 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
				{{social('chatyr-dag-yayla')}}

<article class="post type-post status-publish format-standard hentry">
		<h3>Чатыр-Даг яйла</h2>
		<p>В путеводителе по Крыму Н. А. Головкинского, изданном в 1894 году, есть такие поэтические строки о
		Чатыр-Даге:</p>
		<p>Выше нас лишь небосклон.</br>
		Здесь весь Крым как на ладони,</br>
		Видно море с трёх сторон...</br>
		Раскалённый, чуждый тени,</br>
		Гол и мёртв утёс Эклиз;</br>
		За ступенями ступени</br>
		Серых скал сбегают вниз.</br>
		Там отлогости и кручи,</br>
		И ложбины, и бугры</br>
		Одевает лес дремучий</br>
		До подножия горы.</br>
		Выше леса перед нами</br>
		В океане светлой мглы</br>
		Реют плавными кругами</br>
		Длиннокрылые орлы.</p>
		<p><span id="more"></span></p>
		<p>Немного наивные стихи старого профессора вполне точно характеризуют ландшафт милой его сердцу горы.</p>
		<p>С. А. Качиони, автор известной в прошлом веке книги "В дебрях Крыма", пишет: "Стоит приблизиться к Чатыр-Дагу,
		чтобы быть поражённым целым лабиринтом просветов, теней, контуров, впадин, уступов, громадных бесформенных глыб и
		зияющих таинственною мглою провалов, которыми покрыто сплошь так безжалостно истерзанное вековой борьбой стихий
		тело этого великана".</p>
		<p>Великий поэт В. В. Маяковский сказал о Чатыр-Даге по своему:</p>
		<p>В путь,</br>
		в зной крутизной!</br>
		Туда, где горизонта черта,</br>
		где зубы гор</br>
		из небесного рта,</br>
		туда, в конец,</br>
		к небесам на чердак,</br>
		на - Чатырдаг.</p>
		<p>Мощному гласу поэта вторит слабенький дискант юного туриста, пожелавшего остаться неизвестным:</p>
		<p>Мы шли по тропкам синим...</br>
		Подобно птицам смелым, сильным.</br>
		Мы покорили Чатыр-Даг!</p>
		<p>Из книги записей туристских впечатлений, хранящейся на Эклизи-Буруне.</p>
		<p>Что же это за гора такая, если не только поэты, но даже почтенные исследователи наравне с восторженными юнцами
		не могут удержаться от того, чтобы не заговорить о ней стихами или прочувствованной прозой? Чтобы ответить на
		этот вопрос, перейдем к объективной, опирающейся на данные науки характеристике горного массива.</p>
		<p>В цепи Крымских гор Чатыр-Даг занимает срединное положение. Он со всех сторон отделён от соседей и сдвинут на
		10 километров к северу относительно других массивов, поэтому издали, кажется, что эта гора возвышается над всеми
		яйлами. В действительности Чатыр-Даг по высоте (1525 м над уровнем моря) занимает пятое место в Крыму. Самая
		высокая гора Роман-Кош - высшая точка массива Бабуган и всей Главной горной гряды - взметнулась вверх на 1545
		метров.</p>
		<p>Благодаря исключительному местоположению Чатыр-Даг приобрёл как бы свой характер, с первого же взгляда
		выделяющий его из семьи Крымских гор. Отодвинутый от моря на 10 километров, громадный массив ограничен двумя
		глубокими и широкими проходами - богазами: с юго-западной стороны - Кебит-Богазом (591 м над уровнем моря), с
		северо-восточной - Ангар-Богазом (752 м). В далёком геологическом прошлом Чатыр-Даг не был так резко обособлен от
		смежных гор. Его относительная изолированность возникла в результате эрозии - размыва, который осуществили с
		южной и западной сторон воды рек Улу-Узеня и Альмы, отделив Чатырдагский массив от смежного с ним Бабугана. С
		другой стороны такую же работу проделала Ангара - приток реки Салгир: она отделила Чатыр-Даг от Северной Демерджи
		и Долгоруковского массива. Вершинная поверхность Чатыр-Дага делится на два высотных уровня, которые,
		соответственно, носят названия верхнего и нижнего плато.</p>
		<p>Горные плато Крыма издали кажутся совершенно ровными. Именно поэтому старое греческое название массива
		Чатыр-Даг было Трапезус - стол.</p>
		<p>Длина плоскогорья с севера на юг - 10 километров, ширина с запада на восток - примерно 4 километра.
		Платообразный вид является характерной особенностью не только Чатыр-Дага, но и всех массивов Главной горной
		гряды. Крымские нагорья издавна использовались людьми для выпаса скота. Поэтому и называются они яйлами (от
		тюркского джайляу - пастбище). Нижнее плато, имеющее в северной части высоту около 900 метров, к югу постепенно
		повышается до 1100 метров над уровнем моря. Южное плато достигает в высоту более 1300 метров.</p>
		<p>Если посмотреть на гору с большого расстояния (например, из Симферополя), то она кажется похожей на шатёр,
		палатку. Отсюда её другое, тюркское, название - Чатыр-Даг, по-русски - Палат-гора.</p>
		<p>Чатыр-Даг со всеми своими уступами и отрогами занимает площадь около 46,5 квадратных километров. Его западный,
		южный и восточный склоны обрывисты, северный же сравнительно полого опускается к долине Салгира.</p>
		<p>Высшая точка горы находится на юго-западе - это Эклизи-Бурун (1525 м). Другая вершина, на северо-восточной
		части южного плато, - Ангар-Бурун (1453 м).</p>
		<p>Когда-то Эклизи-Бурун называли Церковным мысом. Объяснение происхождения этого названия находим в книге
		"Досуги крымского судьи" П. И. Сумарокова (1803 г.), где это место описывается следующим образом: "Поверхность
		усеяна каменьями, буграми, между коих видны развалины греческой церкви, зовомой Панагия, т. е. Пресвятой, куда
		греки единожды в году в Троицын день возносились многолюдным ходом для молебствования".</p>
		<p>Геологическое строение Чатыр-Дага довольно сложно. По составу горных пород он резко делится на два структурных
		этажа. Верхний сложен известняками, образовавшимися из отложений теплых морей верхнеюрского времени, и
		подстилающими их красно-бурыми конгломератами. Мощность этих известняков достигает 1000 метров. Конгломераты в
		свою очередь лежат на водоупорной толще нижнего этажа - отложениях верхнетриасового и нижнеюрского возраста. Она
		известна под именем таврической серии и состоит из ритмично чередующихся зеленоватых и чёрных аргиллитов,
		алевролитов и песчаников. Эти породы довольно широко распространены по всему южному и юго-западному побережью
		Крыма.</p>
		<p>Все породы в результате активных горообразовательных процессов, происходивших на протяжении нескольких
		миллионов лет, разбиты на крупные блоки, которые в свою очередь подвергались воздействию внешних сил - размыву,
		выветриванию, закарстованию. Все это и придало Чатыр-Дагу современный облик.</p>
		<p>Судя по археологическим находкам, люди жили на Чатыр-Даге в эпоху неолита. К этому времени относится,
		например, первобытная стоянка на Барсучьей поляне. Некоторые гроты Чатыр-Дага известны как жилища людей -
		охотников и скотоводов VII-V вв. до и. э. Недавно открыты в пещерах столь же древние подземные святилища.
		Поднимаясь на Чатыр-Даг, вы можете увидеть таврские погребальные ящики из врытых в землю каменных плит - они
		сохранились на северных отрогах массива близ села Мраморного.</p>
		<p>К раннему средневековью (а возможно, и к ещё более раннему времени) относится могильник в пещере
		Тысячеголовой, ещё не исследованный, но, к сожалению, уже давно разграбленный посетителями пещеры. Ни в одном её
		уголке вы не увидите картин, описанных ещё в 70-х годах прошлого столетия Евгением Марковым, путешественником и
		исследователем Крыма. По свидетельству Маркова, пещера тогда представляла собой огромный могильник, заполненный
		черепами и человеческими костями, что вызывало ужас у посетителей...</p>
		<p>Несколько вариантов легенды рассказывают, что в пещере укрылось от врагов целое племя - 1000 человек. Их
		преследователи зажгли перед входом в пещеру костры, и дым задушил всех спрятавшихся. С тех пор будто бы эта
		пещера и называется Тысячеголовой. Каково подлинное значение этого печального памятника - сказать пока трудно,
		он еще ждет своих исследователей.</p>
		<p>В урочище Ат-Чокрак, под Эклизи-Буруном, археологи обнаружили остатки средневекового поселения. Известный
		ученый XIX века П. И. Кеппен упоминает о развалинах мощных стен на перевалах Главной гряды, в частности, на
		чатырдагских перевалах, в том числе и близ Ат-чокракского поселения.</p>
		<p>Высказывалось предположение о принадлежности этих стен первобытным обитателям Крыма - таврам или киммерийцам.
		В дальнейшем в целях обороны они могли подновляться и другими народами. Так, когда византийскому императору
		Юстиниану I пришлось защищать от кочевников степей и предгорья южное побережье Таврики, вдоль которого плавали
		его корабли, он приказал возвести систему заградительных стен на перевалах Главной гряды. Возможно, частью её и
		была описанная Кеппеном стена, развалины которой частично сохранились под Эклизи-Буруном. Это укрепление стояло
		на одной из древних дорог к приморской крепости Алустону (на месте Алушты).</p>
		<p>С Чатыр-Дагом связаны отдельные страницы истории партизанского движения в Крыму в годы Великой Отечественной
		войны. Некоторые из пещер нижнего плато служили хранилищами боеприпасов и продовольствия. Через плато проходили
		маршруты связи между Северным и Южным соединениями крымских партизан. Особенно часто народные мстители выходили
		для диверсий на Алуштинское шоссе - через Тисовое ущелье они направлялись к месту теперешнего памятника
		"Партизанская шапка" или в сторону Алушты.</p>
		<p>В наши дни экскурсанты, туристы, спортсмены охотно поднимаются на Чатыр-Даг. За туристский сезон его посещают
		до 20 тысяч человек.</p>
		<p>В специальной книге отзывов, находящейся на вершине горы, величественный Чатыр-Даг приветствуют туристы
		Прибалтики и Камчатки, "робинзоны" с Кольского полуострова и Памира, студенты Варшавского университета,
		афганские альпинисты, штурмовавшие вершину по отвесной стене.</p>
</article><!-- #post-73 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}