{% extends "base.html" %}

{% block headerContent %}
<title>Информация | Украинская сторонка</title>
{% endblock %}


{% block bodyStyles %}archive category category-information category-18 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div>

			
				<header class="page-header">
					<h1 class="page-title"><span>Информация</span></h1>
				</header>

				
	<article class="post type-post status-publish format-standard hentry">
		<h3><a href="{{ getUrlByAlias('chatyr-dag-yayla') }}" title="Permalink to Чатыр-Даг яйла" rel="bookmark">Чатыр-Даг яйла</a></h2>
		<p>{{getAticleDescByAlias('chatyr-dag-yayla')}}</p>
		<p> <a href="{{ getUrlByAlias('chatyr-dag-yayla') }}#more"
			   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		<span class="cat-links">
			<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
			<a href="{{ getUrlByAlias('information') }}" title="View all posts in Информация" rel="category tag">Информация</a>
		</span>
	</article>
								
					
	<article class="post type-post status-publish format-standard hentry">
		<h3><a href="{{ getUrlByAlias('national-archaeological-park-olbia') }}" title="Permalink to Национальный археологический заповедник “Ольвия”" rel="bookmark">Национальный археологический заповедник “Ольвия”</a></h2>
		<p>{{getAticleDescByAlias('national-archaeological-park-olbia')}}</p>
		<p> <a href="{{ getUrlByAlias('national-archaeological-park-olbia') }}#more"
			   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		<span class="cat-links">
			<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
			<a href="{{ getUrlByAlias('information') }}" title="View all posts in Информация" rel="category tag">Информация</a>
		</span>
	</article>

				
					
	<article class="post type-post status-publish format-standard hentry">
		<h3><a href="{{ getUrlByAlias('odessa-region-trains-timetable') }}" title="Permalink to Расписание пригородных поездов Одесского региона" rel="bookmark">Расписание пригородных поездов Одесского региона</a></h2>
		<p>{{getAticleDescByAlias('odessa-region-trains-timetable')}}</p>
		<p> <a href="{{ getUrlByAlias('odessa-region-trains-timetable') }}#more"
			   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		<span class="cat-links">
			<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span> <a href="{{ getUrlByAlias('information') }}" title="View all posts in Информация" rel="category tag">Информация</a>
		</span>
	</article>

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
					</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}