{% extends "base.html" %}

{% block headerContent %}
<title>Природа | Украинская сторонка</title>
{% endblock %}


{% block bodyStyles %}archive category category-towns category-20 single-author two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<section id="primary">
			<div>

			
				<header class="page-header">
					<h1 class="page-title"><span>Природа</span></h1>
				</header>
    
    
    <article class="post type-post status-publish format-standard hentry">
		<h3>
			<a href="{{ getUrlByAlias('trip-to-kinburn-peninsula') }}"
			   title="Permalink to Поездка на Кинбурнский полуостров" 
			   rel="bookmark">Поездка на Кинбурнский полуостров</a></h2>
		<p>{{getAticleDescByAlias('trip-to-kinburn-peninsula')}}</p>
		<p> <a href="{{ getUrlByAlias('trip-to-kinburn-peninsula') }}#more"
			   class="more-link">{{continueReading}}<span class="meta-nav">→</span></a></p>
		<span class="cat-links">
			<span class="entry-utility-prep entry-utility-prep-cat-links">{{ postedIn }}</span>
			<a href="{{ getUrlByAlias('nature') }}" title="View all posts in Природа"
			   rel="category tag">Природа</a>
		</span>
	</article>

				
				
			
			</div><!-- #content -->
		</section><!-- #primary -->

		<div id="secondary" class="widget-area" role="complementary">
							<aside class="widget">

				</aside>
		</div><!-- #secondary .widget-area -->

	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}