/*#site-title a {
	color: #111111;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}

h3 a{
	color: #111111;
}

h3 a:hover,
h3 a:focus,
h3 a:active {
	color: #1982d1;
}*/

.uaside-header{
	padding-top: 20px;
	padding-bottom: 50px;
}
.uaside-footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F0F0E7;
}

/* Social -- */
table.social{
	background: inherit;
    border: none;
    margin-bottom: none;
}
div.social{
	width: 30px;
	height: 30px;
	border-radius: 5px;
}
.share-btn{
	background-image: url(http://ukrainianside.com/images/sns.png);
	background-repeat: no-repeat;
	background-size: 30px;
}
.vk-share-btn{
	background-position: 0px -467px;
}
.fb-share-btn{
	background-position: 0px -1205px;
}
.plus-share-btn{
	background-position: 0px -1069px;
}
.od-share-btn{
	background-position: 0px -782px;
}
.tw-share-btn{
	background-position: 0px -1153px;
}
/* -- Social */