/*#site-title a {
	color: #111111;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}

h3 a{
	color: #111111;
}

h3 a:hover,
h3 a:focus,
h3 a:active {
	color: #1982d1;
}*/

.uaside-header{
	padding-top: 20px;
	padding-bottom: 50px;
}
.uaside-footer{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F0F0E7;
}

/* Social -- */
table.social{
	background: inherit;
    border: none;
    margin-bottom: none;
}
table.social tr td{
	padding: 0;
	padding-right: 5px;
}
div.social{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.social-btn{
	background-image: url(http://ukrainianside.com/images/sns.png);
	background-repeat: no-repeat;
}
.fb-share-btn{
	background-position: 0px 0px;
}
.fb-share-btn:hover{
	background-position: -31px 0px;
}
.plus-share-btn{
	background-position: 0px -31px;
}
.plus-share-btn:hover{
	background-position: -31px -31px;
}
.vk-share-btn{
	background-position: 0px -62px;
}
.vk-share-btn:hover{
	background-position: -31px -62px;
}
.od-share-btn{
	background-position: 0px -93px;
}
.od-share-btn:hover{
	background-position: -31px -93px;
}
.tw-share-btn{
	background-position: 0px -124px;
}
.tw-share-btn:hover{
	background-position: -31px -124px;
}
/* -- Social */

/* Social Page --*/
div.social-page{
	width: 30px;
	height: 30px;
}
div.social-page-border{
	padding: 5px;
	border-radius: 15px;
}
.fb-page-btn{
	background-position: -62px 0px;
}
.fb-page-btn:hover{
	background-position: -83px 0px;
}
.plus-page-btn{
	background-position: -62px -21px;
}
.plus-page-btn:hover{
	background-position: -83px -21px;
}
.vk-page-btn{
	background-position: -62px -42px;
}
.vk-page-btn:hover{
	background-position: -83px -42px;
}
.od-page-btn{
	background-position: -62px -63px;
}
.od-page-btn:hover{
	background-position: -83px -63px;
}
.tw-page-btn{
	border: 5px solid #00aced;
	border-radius: 10px;
	background-position: -62px -84px;
}
.tw-page-btn:hover{
	background-position: -83px -84px;
}
.fb-page-border{
	background-color: #3b5999;
}
.fb-page-border:hover{
	background-color: #2c4373;
}
.plus-page-border{
	background-color: #d44332;
}
.plus-page-border:hover{
	background-color: #ad3729;
}
.vk-page-border{
	background-color: #42678e;
}
.vk-page-border:hover{
	background-color: #314c69;
}
.od-page-border{
	background-color: #f6881f;
}
.od-page-border:hover{
	background-color: #cf721a;
}
.tw-page-border{
	background-color: #00aced;
}
.tw-page-border:hover{
	background-color: #0090c7;
}
/* -- Social Page */