{% extends "article.html" %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
<article class="post type-post status-publish format-standard hentry">
	<h3>Первый поход</h3>
	<p>Любовь к природе и активному отдыху, привели меня к мысли о горном туризме (треккинге),
	и после изучения предложений от специализирующихся на данном виде отдыха компаний, решил начать с Крыма,
	на майские праздники, и выбрал нижеописанный маршрут.</p>
	<p><span id="more"></span></p>
	<p>
		<ul>
			<li>день первый. Симферополь, туристическая стоянка (т/с) Сосновка, нижнее плато (яйла) Чатыр-Даг,
			пещера Эмине-Баир-Хосар</li>
			<li>день второй. Верхнее плато (яйла) Чатыр-Даг, гора Эклизи-Бурун, Буковая поляна</li>
			<li>день третий. Ангарский перевал, т/с Поляна МАН, гора Козырёк, т/с Джурла, гора Южная Демерджи</li>
			<li>день четвёртый. Водопад Джур-Джур, ущелье Хапхал, т/с Ай-Алексий</li>
			<li>день пятый. Южное плато (яйла) Караби</li>
			<li>день шестой. Спуск к морю, Рыбачье</li>
		</ul>
	</p>
	<p>Началу поездки в мой первый поход предшествовали продолжительные сборы. Затянулись они из-за того что у меня не
	было опыта и я не знал никого, кто мог бы помочь мне советами, поэтому я искал советы в интернете, в результате чего
	я составил для себя Список вещей моего первого похода и Советы по упаковке рюкзаков для начинающих</p>
	<p>Ну а за продолжительными сборами пришёл день отъезда.</p>
	<p>Итак, я на вокзале в Симферополе в ожидании своей группы. Погода мне сопутствовала - на небе были всего лишь
	маленькие, одинокие облака, солнышко по майски ласково грело и иногда дул лёгкий ветерок. Мало по малу, подтянулись
	и остальные члены группы, наш инструктор и провизор. После получения, распределения и упаковки провианта мы
	выдвинулись в путь. На остановке маршруток, один из водителей предложил нам нанять его, что мы и сделали. Спустя 40
	минут мы высадились за Перевальным на трассе у тропы к туристической стоянке Сосновка, которая находиться
	практически у самой трассы, правда с трассы её не видно за деревьями, и никакой таблички, уведомляющей о ней, я
	тоже не припоминаю. Там мы произвели последние приготовления к началу похода: набрали воды, и кому надо было
	переоделись, после чего выдвинулись к подъёму на нижнюю Чатыр-Даг яйлу.</p>
	<p>Подъём на нижнее плато Чатыр-Дага по тропе ведущей от Сосновки, достаточно крутой, именно этим он и нравился
	нашему инструктору, собственно не тем что он крутой, а тем что позволяет быстро набрать высоту. Не могу сказать что
	тот подъём, я преодолел с лёгкостью: я истекал потом, у меня была задышка и иногда, слегка, кружилась голова, но
	упоительная радость от того что я наконец-то подымаюсь в горы придавала мне сил, которые позволили мне взобраться на
	равнину плато одним из первых. После подъёма на плато у нас больше не было на пути крутых подъёмов, ведь на то оно и
	плато. Перекус в этот день у нас состоялся у пещеры Эмине-Баир-Хосар, а после все желающие отправились на экскурсию
	в неё. Поскольку пещера является экскурсионным объектом, то все вокруг оборудовано для принятия разного рода
	туристов, в первую очередь конечно «автобусных».</p>
	<p>Сама экскурсия в недра пещеры чрезвычайно меня впечатлила: огромные залы, разнообразные по величине и форме
	сталактиты и сталагмиты, вытееватые узоры на стенах, оставленные потоками воды, озёра, останки древних животных и
	истории, рассказанные гидом. После окончания экскурсии, сразу же решил, для себя, что хочу вернутся, и пройтись по
	самому длинному маршруту пещеры.</p>
	<p>После экскурсии мы направились к месту первой ночёвки. Приблизительного места расположения нашего первого лагеря
	я не могу указать, так как он был не на туристической стоянке, а в лесу на нижнем плато, и названий двух близлежащих
	пещер, в которые мы ходили за водой, и по которым можно было бы сориентироваться, я не запомнил. Как место для
	лагеря, наш проводник, выбрал одну из полянок в леске, по прибытию на которую  все члены группы приступили к её
	обустройству: очистке от веток, установке палаток, сбору дров, обустройству очага и пр. Как и другие, я приступил к
	установке своей палатки, которую купил перед началом похода и ни разу не устанавливал… но оказалось что в этом нет
	ничего сложного, и всё достаточно интуитивно, так что я справился с этим самостоятельно и достаточно быстро.</p>
	<p>Когда по большей части обустройство лагеря было завершено, проводник собрал группу добровольцев, в которую вошёл
	я, задачей которой было сходить в пещеру за водой. В поисках воды пришлось посетить две пещеры, так как в первой
	ложбинка, в которой скапливается вода, была пустой.  Спуск во вторую пещеру впечатлил меня чрезвычайно, это была
	совсем не экскурсия в Эмине-Баир-Хосарб!!! там не было ступенек, поручней и яркого освещения - только темнота,
	скользкие камни и свет фонариков, а то ощущение… когда ты стоишь внизу и смотришь наверх… а там… где-то вдалеке… т
	усклый свет, проникающий сверху, освещает внутренности пещеры… ммм… невозможно описать, именно поэтому меня тут же
	посетила мысль о спелеологическом походе в будущем.</p>
	<p>Теперь, когда мы принесли воды из пещер, у нас она была в достаточном количестве для приготовления ужина, чем мы
	и занялись. Питание на протяжении всего похода было по следующей схеме:</p>
	<p>
		<ul>
			<li>завтрак - суп, чай с печеньем</li>
			<li>перекус (обед) - бутерброды с колбасой или паштетом, сало</li>
			<li>ужин - каша с тушёнкой, чай с печеньем</li>
		</ul>
	</p>
	<p>Большую часть первой ночи я спал плохо, так как лёг спать не одев кофту и шапку((((… в последующие ночи, хотя и
	спал одетым, небольшое ощущение прохлады, всё равно, посещало меня на протяжении всего похода.</p>
	<p>Утро второго дня началось с проникнувшего в палатку, через палаточный тент, солнечного света и шелеста молодой
	листвы от дуновений лёгкого ветерка… - просыпаться от такого будильника намного приятнее, нежели от городского его
	варианта, который сопровождается началом утреннего уличного шума цивилизации. Сегодня у нас по плану было
	восхождение на верхнее плато Чатыр-Даг и на его высшую точку - гору Эклизи-Бурун, после чего спуск на Буковую
	поляну. По окончанию завтрака и сборов мы отправились в путь.</p>
	<p>Восхождение на верхнее плато мы производили приблизительно посреди склона, по ощущениям, он был легче, чем
	восхождение на нижнее плато.  На верху нас ждал сюрприз - снег, конечно, он уже не покрывал всё плато, а всего лишь
	лежал кое-где, в оврагах, и на менее солнечных склонах. Неподалёку от одного из таких снежных пластов, вблизи
	подножия Эклизи-Бурун, мы расположились на перекус, и тем, кто горел желанием покорения этой вершины, выпала
	возможность проделать это налегке, без рюкзаков. Я не упустил такой возможности, и взбежал на неё первым. Это была
	первая моя вершина, и тогда, впервые, я увидел какой красоты вид открывается перед теми, кто эти вершины покоряет,
	и понял зачем их вообще покоряют))). Тогда же и задумался над выражением «всё не передать словами», а фотоаппарата
	с собой не взял. (((((</p>
	<p>Теперь вниз - на спуск к Буковой поляне. Это был мой первый пеший спуск с горы с рюкзаком на плечах. Как я и
	ожидал, спуск для меня оказался тяжелее подъёма, нагрузка на колени больше, и по ощущениям, равновесие можно
	потерять легче. В конце спуска нас ждала настоящая туристическая стоянка, с множеством палаток и платой лесникам за
	размещение.</p>
	<p>И снова обустройство лагеря, ужин, долгие беседы у костра, в которых я уже смог поучаствовать, поскольку уже
	адаптировался к физической нагрузке и большому количеству чистого воздуха, и сильной усталости как на кануне уже не
	было. На эту стоянку к нам зашёл друг нашего инструктора, который возвращался, после окончания похода, в
	Симферополь на встречу новой группы. Его визит стал известен заранее, так что у нас была возможность попросить его
	побаловать нас небольшим количеством гостинцев - пивом или шоколадом.</p>
	<p>Утро третьего дня. Несмотря на то что у нас не было ни дежурства, ни какой-либо дисциплины, группа постепенно
	начинала организовываться, так что разных мелких заминок при приготовлении завтрака и сборах становилось всё меньше,
	так что мы достаточно быстро позавтракали и собрались в путь, к покорению южной части Демерджи яйлы (гор Козырёк и
	Южная Демерджи) через Ангарский перевал с ночёвкой на туристической стоянке водопад Джурла.</p>
	<p>На спуске к туристической базе «Ангарский перевал» мы встретили множество велосипедистов, а уже по пришествию на
	турбазу, я узнал, что в это время в Крыму проводятся велосипедные ралли. Тут, у нас был небольшой привал с
	маленькими радостями цивилизации в виде шоколада и мороженного из магазина, и снова в путь.</p>
	<p>Сам Ангарский перевал оказался ещё более цивилизованным местом. Через него проходит достаточно оживлённая
	трасса Симферополь-Алушта, а чуть поодаль от трассы, стоит обелиск, воздвигнутый в честь окончания строительства
	трассы. Этот обелиск стал последним рукотворным каменным сооружением, которое мы встретили на своём пути, далее
	были только горы и деревья.</p>
	<p>Минув туристическую стоянку «Поляна МАН» мы достигли горы Козырёк, на которой мы устроили непродолжительный
	привал, во время которого была возможность полюбоваться видом с вершины этой горы, после чего мы направились к
	последней точке нашего пути в тот день - т/с Джурла.</p>
	<p>Туристическая стоянка Джурла, меня поразила своим видом, она походила на магазин - множество людей, пиво,
	закуски и многое другое, а чего не было в наличии у продавцов, можно было заказать. К счастью мы решили разбить
	лагерь дальше, точно не буду утверждать, но похоже то место, где мы разбили тогда лагерь, называют "русло реки".
	Поскольку световой день еще не закончился, было решено радиально сходить на гору Южная Демерджи, правда не все
	захотели туда идти, а зря… вид захватывающий. Ночь, проведённая на этой стоянке, была для меня самой холодной и
	дискомфортной, из-за близости к воде и неудачной установки палатки - вдоль склона. Было очень сыро и я всю ночь
	скатывался.</p>
	<p>День четвёртый. В этот день я осознал простое правило "Смотри под ноги, когда идёшь", а всё потому что опасно
	упал, засмотревшись на туристов идущих по боковому склону, но к счастью отделался лёгким испугом и сдёртыми коленом
	и ладонью.</p>
	<p>Возвращаясь к маршруту… на тот день было запланировано посещение водопада Джур-Джур (инструктор расказал, что в
	переводе с татарского, джур - это вода, так что название водопада переводиться как Вода-Вода), ущелье Хапхал и
	ночёвка на т/с Ай-Алексий.</p>
	<p>Водопад Джур-Джур находиться на территории Хапхальского гидрологического заповедника, в устье реки Улу-Узень,
	которая течёт по ущелью Хапхал. К сожалению он оказался маловодным в этом году, из-за малого количества осадков
	весной и зимой, но посетителей от этого не стало меньше. Привал устроили немного в стороне от водопада, так что
	желающие пройтись выше от водопада по ущелью смогли это сделать налегке. Выше по течению можно наблюдать множество
	порогов, которые должны быть ещё более завораживающими при полноводности реки. После перекуса мы отправились к
	месту ночёвки - т/с Ай-Алексий, видимо получившей своё название по названию источника минеральной воды, в
	окрестностях которого она расположилась. Эта стоянка запомнилась мне пьянкой и песнями до поздней ночи.</p>
	<p>Начало пятого дня было ознаменовано сходом с маршрута двух инициаторов вчерашней пьянки, и раскаяниями остальных
	её участников в течении дня))). На сегодня у нас был запланирован подъём на южный склон Караби яйлы к т/с Чигенитра.
	Помимо крутого подъёма, затяжного шествия по траверсу крутого склона и упоительных видов с места стоянки, ничего
	примечательно в этот день не было. У всех чувствовалось небольшое уныние, возможно, это сказывалось приближение
	окончания похода, а возможно вчерашнее алкогольное возлияние и недосыпание.</p>
	<p>И вот он - последний день…  Вроде не намечалось ничего увлекательного, всего лишь спуск к Рыбачьему, и обратная
	дорога, но не у меня, хоть мне и предстояло провести практически весь день в маршрутках… приключение продолжалось -
	я отправлялся в Оленёвку, на п-в Тарханкут, но об этом я расскажу в следующей заметке.</p>
	<p>Уже по окончанию похода, меня посетила мысль о том, что не хочется покидать горы, о том, что ты провёл так мало
	времени здесь, о том, что завтра ты вернёшься к цивилизации, и уже завтра не будет таких восхитительных видов,
	подъемов и спусков, еды на костре…а уснул я с тем, что я обязательно ещё пойду в горы.</p>
</article><!-- #post-73 -->

			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}