{% extends "base.html" %}

{% from "macroses/header.macro" import header as header%}

{% block mainContent %}
	<div class="small-12 large-12 columns">
	{% for aticleAlias in getAticlesSeq() %}
		<article>
			<div class="row">
				<div class="small-12 large-12 columns">
					<img src="{{getArticleMainImageUrl(articleAlias)}}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-12 columns">
					{{header(aticleAlias)}}
					<p>{{getArticleDescByAlias(aticleAlias)}}</p>
					<p>
						<a href="{{ getUrlByAlias(aticleAlias) }}#more"
							class="more-link">{{continueReading}}<span class="meta-nav">→</span></a>
					</p>
				</div>
			</div>
		</article>
	{% endfor%}
	</div>
{% endblock %}