{% extends "base.html" %}

{% from "macroses/social.macro" import social as social%}

{% block headerContent %}
	<title>Список вещей моего первого похода | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}">
	<meta name="title" content="{{articleTitle}}">
	<meta name="description" content="{{getAticleDescByAlias(articleAlias)}}">
	<meta content="ukrainianside" property="og:site_name">
	<meta content="{{ getUrlByAlias(articleAlias) }}" property="og:url">
	<meta content="{{articleTitle}}" property="og:title">
	<meta content="article" property="og:type">
{% endblock %}


{% block bodyStyles %}single single-post postid-73 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
				{{social(articleAlias)}}

<article class="post type-post status-publish format-standard hentry">
		<h3>Список вещей моего первого похода</h3>
        <p>Одежда, обувь и снаряжение играют огромную роль в походе, от них зависит то как вы пройдёте весь маршрут,
        и какие у вас останутся впечатления. Пожалуй, самый яркий пример этого, это водянки на ногах от неразношенной или
        жёсткой или же неподходящей к условиям похода обуви. С фактом, что обувь может не подходить к условиям похода, я
        впервые столкнулся в <a title="Поездка на Кинбурнский полуостров" href="{{ getUrlByAlias('trip-to-kinburn-peninsula') }}#hydrops">поездке на Кинбурский полуостров</a>.</p>
        <p><span id="more"></span></p>
        <p>Как же я составлял список вещей для своего первого похода. За основу я взял рекомендации одного из
        коммерческих организаторов походов и адаптировал его для себя опираясь на свой опыт различной другой
        спортивной активности.</p>
        <p>И так, список:            
            <ul>
                <li>Одежда:
					<ul>
						<li>три синтетические футболки</li>
						<li>двое штанов</li>
						<li>флиска (батник)</li>
						<li>куртка с капюшоном</li>
						<li>панамка</li>
						<li>тонкая синтетическая шапка</li>
						<li>тонкие синтетические перчатки</li>
						<li>бафик</li>
						<li>три пары носков</li>
						<li>три единицы нижнего белья</li>
					</ul>
				</li>
                <li>Обувь:
					<ul>
						<li>низкие треккинги</li>
					</ul>
				</li>
                <li>Снаряжение:
					<ul>
						<li>рюкзак</li>
						<li>палатка</li>
						<li>пенка (коремат, коврик)</li>
						<li>спальник</li>
						<li>ложка-вилка</li>
						<li>кружка</li>
						<li>фонарик (налобник)</li>
						<li>нож</li>
						<li>полтора литровую пластиковая бутылка</li>
					</ul>
				</li>
                <li>Другое:
					<ul>
						<li>рулон туалетной бумаги</li>
						<li>мыло</li>
						<li>зубная щётка</li>
						<li>зубная паста</li>
						<li>личная мини аптечка:
							<ul>
								<li>спасатель (бальзам)</li>
								<li>деклафинат натрия (мазь)</li>
								<li>активированый уголь</li>
								<li>анальгин (таблетки)</li>
								<li>аспирин (таблетки)</li>
								<li>бинт стирильный</li>
								<li>антисептик (спрэй)</li>
								<li>средстко от клещей (аэрозоль)</li>
							</ul>
						</li>
						<li>телефон</li>
						<li>паспорт</li>
						<li>деньги :)</li>
					</ul>
				</li>
            </ul>
        </p>
</article><!-- #post-73 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}