{% extends "base.html" %}

{% from "macroses/social.macro" import social as social%}

{% block headerContent %}
	<title>Национальный археологический заповедник Ольвия | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}">
	<meta name="title" content="{{articleTitle}}">
	<meta name="description" content="{{getAticleDescByAlias(articleAlias)}}">
{% endblock %}


{% block bodyStyles %}single single-post postid-157 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
				{{social(articleAlias)}}

<article class="post type-post status-publish format-standard hentry">
		<h3>Национальный археологический заповедник “Ольвия”</h2>
		<p>В сорока километрах от Николаева, на высоком холмистом берегу 
Бужского лимана, находиться место, которое уже много десятилетий 
привлекает к себе исследователей и всех, небезразличных к прошлому. Это –
 археологический заповедник “Ольвия”, которому в 2002 году Указом 
Президента Украины присвоено статус национального.</p>
<p><span id="more"></span></p>
<p>В далёкие времена, более 2500 лет тому назад, на юге будущей Украины,
 на берегах Чёрного моря и в низовьях рек, которые впадают в его, а 
также лиманов появились антические города и окружающие их сельские 
поселения. Одним из наиболее величественных среди тех городов была 
Ольвия – центр полиса, который охватывал весь регион Нижнего Побужья и 
просуществовал более тысячи лет.</p>
<p>Город-государство основали выходцы из древнегреческого города Милета.
 Им, вероятно, понравилась холмистая местность возле лимана, с севера и 
запада ограждённая от без крайних полей глубокими балками, а с востока –
 водяным барьером Гипаниса (древнее название Южного Буга). Новый полис 
назвали Ольвия, что в переводе означает “счастливая”. Это место 
действительно когда-то знало счастливые времена. Основу хозяйства Ольвии
 составляли земледелие, скотоводство, рыбная ловля, виноградарство. Тут 
развивались ремесла – металлообрабатывающее, гончарное, 
деревообрабатывающее, камнеобрабатывающее и другие. В обмен на 
ремесленные изделия и товары, которые импортировались из других 
древнегреческих центров, ольвийские купцы получали от соседних племён 
(скифов, сарматов) зерно, скот, шерсть, а также рабов, которых продавали
 на рынках метрополии. Ольвия была рабовладельческой республикой. 
Выгодно расположенная, она разрасталась, торговала, богатела. Но это 
привлекало и врагов: не раз над Ольвией сгущались тучи – крепостные 
стены обступали воинственные племена. В 331 году до нашей эры город 
выдержал осаду Зопириона – одного из полководцев Александра 
Македонского. В 2-1 столетиях до нашей эры Ольвия какое-то время 
находилась под властью Скифского царства, потом – понтийского царя 
Митридата. В первом столетии до нашей эры Ольвию разрушили готы, после 
этого город уже никогда не достигал былого расцвета. В 1-2 столетиях 
новой эры тут находился римский гарнизон. В условиях общего кризиса 
рабовладельческой системы Ольвия в 4 столетии нашей эры прекратила своё 
существование, как и большинство антических государств Южного 
Причерноморья. В отличии от трёх других центров антической культуры, 
подобных Ольвии – Тиры (г. Белгород-Днестровский, Одесская область), 
Херсонеса (г. Севастополь, Крым) и Пантикапея (г. Керчь, Крым), жизнь на
 территории которых продолжалась вплоть до наших дней, Ольвия не 
пережила свою эпоху. Забытый город на протяжении почти полторы тысячи 
лет постепенно разрушалось временем. То, что осталось от разрушительного
 времени, было разобрано турками для строительства расположенной 
неподалёку Очаковской крепости, а потом местными жителями (из 
ольвийского камня тут было построено село Парутино).</p>
<p>Как считают учёные, почти тысячелетняя эпоха существования полисов в 
Южном Причерноморье очень повлияла на историю и культуру этого региона. 
Сыграла свою значительную роль и Ольвия – прежде всего, в ускорении 
социально-экономического и политического развития местных племён, их 
культуры.</p>
<p>Руины Ольвии отечественные учёные открыли в конце XVIII столетия, 
когда эти земли в результате российско-турецкой военной компании перешли
 к России. Систематические раскопки тут проводятся с начала XX столетия.
 Материалы с раскопок Ольвии хранятся в Эрметаже, многих музеях Украины,
 России, Западной Европы и Америки.</p>
</article><!-- #post-157 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}