{% extends "base.html" %}

{% from "macroses/social.macro" import social as social%}

{% block headerContent %}
	<title>Расписание пригородных поездов Одесского региона | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}">
	<meta name="title" content="{{articleTitle}}">
	<meta name="description" content="{{getAticleDescByAlias(articleAlias)}}">
{% endblock %}


{% block bodyStyles %}single single-post postid-93 single-format-standard single-author singular two-column right-sidebar{% endblock%}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
				{{social(articleAlias)}}

				<article class="post type-post status-publish format-standard hentry">
					<h3>Расписание пригородных поездов Одесского региона</h2>
					{{getRailwayTimetable(0)}}
				</article><!-- #post-93 -->
			</div><!-- #content -->
		</div><!-- #primary -->
	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}