{% extends "article.html" %}

{% block mainContent %}
<article>
	<h3>Одним глазком на Тарханкут</h3>
	
	<p>Этот коротенький заезд на полуостров Тарханкут я решил осуществить в продолжение моего первого 
	похода, и лишь только потому что меня пригласили заехать к ним в гости знакомые, которые в то время
	(майские праздники) находились там на йога семинаре. Если бы не они, я и не знаю когда бы посетил бы ту
	местность, и посетил бы её вообще, так как на тот момент я ничего не знал о ней.</p>
	
	<span id="more"></span>
	
	<p>И так, мой путь на Тарханкут начался из Рыбачьего, куда я спустился с Демерджи яйлы, и состоял из
	трёх этапов: Рыбачье - Симферополь, Симферополь - Евпатория, Евпатория - Оленёвка, все три из которых
	были преодолены маршрутками, что заняло у меня около 4 часов. Самым сложным из них был
	Евпатория - Оленёвка, так как маршрутка была полностью забита, и дорога, по которой она ехала,
	была полна выбоин, из-за чего средняя её скорость была, на вскидку, около 40 км/ч.
	По приезду в Оленёвку, в будочке кассира, я разузнал время отправлярия обратной маршрутка в Евпаторию,
	оказалось что это чрезвычайно редкое событие, точно не помню но случается это два или три раза в день,
	точное расписание я приводить не буду, так как не сохранил его, помню только что утром она отправляется
	где-то около 5:30, и то из-за того что я ей уезжал утром.</p>
	
	<p>Ну, а теперь, собственно то зачем я сюда приехал - погостить у знакомых, для этого надо было их
	найти, точных координат их места нахождения я не знал, знал только что где-то на территории пансионата,
	а какого точно пансионата я не знал, единственное что я знал о нём, так это то что он был старым,
	ещё советской эпохи, исходя из чего я предварительно предположил что это пансионат Солнечная Долина.
	О том как к нему пройти я разузнал у того же кассира на остановке, после чего и отправился по
	указанному мне пути, и уже минут через 30 я был у его ворот, но охрана не имела понятия где я могу
	найти своих знакомых, так как там отдыхало несколько групп, а в которой были мои знакомые я не знал,
	и вот тут то и пришло время звонка, после которого меня нашли в течении минут пяти, оказалось что они
	разместились неподалёку, в метрах ста, в коттеджном городке, который принадлежит этому пансионату.</p>
	
	<p>Фух, теперь можно было вздохнуть с облегчением - я на месте. После тёплой встречи меня ввели в
	курс дел, что непосредственно в окрестностях Оленёвки есть чем заняться только кайтерам и дайверам,
	достопримечательностей поблизости, окромя затонувшего корабля, маяка и чрезвычайно солёного
	озера Лиман нет, так что мы запланировали на завтра прогулку в степь вдоль берега.</p>
	
	<p>Хотелось бы немного рассказать о коттеджном городке. Это небольшая, так сказать - зона в частном
	секторе, возможно некогда это было несколько частных участков, а может и не было, не известно,
	на территории находится коттеджей пять, разделённых на два номера, номера сравнительно большие,
	однокомнатные, так же есть бассейн, немножко зелёных клумбочек и одно хозяйственное строение,
	в общем всё очень даже приятно выглядит, вот только к морю надо где-то с километр пройтись.</p>
	
	<p>Из-за того что мне всё ещё хотелось побыть в атмосфере похода, а не курортного отдыха, так что с
	наступлением сумерок, я отправился на ночлег на пересыпь между озером Лиман и Караджинской бухтой.
	Эта пересыпь представляет из себя узкую песчаную полоску, по середине которой встречаются кочки
	покрытые травой, вот между этих кочек я и поставил палатку, они хоть немного защищали её от ветра
	дувшего с моря.</p>
	
	<p>Та ночь была моей первой в жизни ночью когда я ночевал в палатке у моря - мне очень понравилось,
	мягенький песочек, на котором приятно лежать и успокаивающий прибой, под который приятно как засыпать
	так и просыпаться, конечно возможно те мои впечатления были отчасти контрастными, так как в горах я
	несколько ночей неудачно выбирал место для установки палатки, из-за чего то спал на камнях,
	то скатывался.</p>
	
	<p>Утром я свернулся, и отправился в лагерь моих знакомых, а там, после их занятия йогой, и лёгкого
	завтрака, мы отправились в степь, гулять вдоль берега, не могу сказать что я был чем либо впечатлён,
	разве что количеством молодых, малюсеньких крабов, которыми просто кишила каждая лужа у обрыва к морю.
	За всё время похода в степь простого спуска к морю нам так и не встретилось, везде берег был
	обрывистый, высотой около трёх, пяти метров, но я особо к морю и не рвался. Закончили мы свой
	поход заходом на территорию главного корпуса, оказалось что там имеется достаточно обширный
	парк и пляж. Встречу со знакомыми мы закончили ужином с чаепитием, после чего я пораньше отправился
	на пересыпь ночевать, так как заврашний день был днём моего отъезда, и поэтому я хотел пораньше лечь
	спать.</p>
	
	<p>В день отъезда я встал очень рано, 3:30, что бы было время свернутся и дойти до остановки,
	так как в темноте упаковываться сложнее, да и с пересыпи дальше до остановки чем от пансионата,
	а там уже на маршрутках в два этапа: сначала до Евпатории, а потом уже в Херсона, где я запланировал
	один день отдыха у родителей, а потом уже в Киев.</p>
	
	<p>Какой итог своего заезда на Тарханкут я могу подвести - что пока я не увлёкся дайвингом или
	кайтингом мне там не интересно, так как место там всё таки достаточно людное, из-за чего какой
	либо дикости или первозданности не ощущается, кроме того впечатляющей флоры или фауны я там не увидел,
	но утверждать что её там нет я не берусь, тем более, судя по рассказам, она там есть, и даже в особом
	изобилии, только вот она скрыта толщей воды, которую я, в обозримом будущем, осваивать не собираюсь,
	но вот как альтернативу людным пляжам ЮБК это место я буду иметь в виду.</p>
	
</article>
{% endblock %}