{% extends "article.html" %}

{% block mainContent %}
<article>
	<h3>Один день в Одессе</h3>
	
	<p>Главной целью этой поездки было разузнать как из Одессы добраться в 
	Белгород-Днестровский, так как прямых рейсов поездов на сайте 
	украинской железной дороги я не нашол, и прямых рейсов автобусов не 
	нагуглил, так же посетить одесский археологический музей, ну и погулять 
	немного по осенней Одессе :) </p>
	
	<span id="more"></span>
	
	<p>Что меня заинтересовало в Белгород-Днестровском? – Это руины древней Тиры и Белгород-Днестровская крепость.</p>
	<p>И так, план поездки:</p>
	<ul>
	<li>Решил попробовать летать внутренними авиалиниями, поэтому выдвигаюсь в 8:50 из аэропорта в Борисполе</li>
	<li>10:00 я в аэропорту Одессы</li>
	<li>Найти и посетить археологический музей</li>
	<li>Найти и автовокзал и разузнать есть ли автобусы до Белгород-Днестровского</li>
	<li>Гуляние по Одессе</li>
	<li>19:45 вылет из Одессы</li>
	<li>20:55 прилёт в Борисполь</li>
	</ul>
	<p>На кануне вылета я обнаружил что вылет из терминала В, это меня 
	удивило, так как до этого я из его летал международными рейсами, и мне 
	стало интересно надо будит ли проходить паспортный контроль, поэтому я 
	позвонил в компанию перевозчик(Днипроавиа) и расспросил у них на этот 
	счёт – ничего внятного они не объяснили, сказали что терминал А закрыт 
	на реконструкцию и что паспортный контроль скорее всего будит, и 
	вероятно что упрощённый.</p>
	<p>До Борисполя в этот раз решил добираться на такси вместо маршрутки со станции метро Харьковская.</p>
	<p>Вылет был обычный без происшествий, паспортного контроля действительно не было, но прохождение через металлоискатели было.</p>
	<p>В прилёте тоже ничего особенного не было. Одесский аэропорт абсолютно
	 обычный аэропорт времён советского союза, порадовала близость его к 
	городу – к ему и от его можно доехать на обычной городской маршрутке – 
	это ощутимый плюс по сравнению с Борисполем.</p>
	<p>И так – сажусь на маршрутку, еду в центр, выхожу возле железнодорожного вокзала,
		хожу – вспоминаю что к чему – куда идти :) , и вскоре дохожу к археологическому музею.</p>
			<p><img src="/images/one-day-in-odessa/001.jpg"
					alt="Карта прохода к археологическому музею от железнодорожного вокзала"/>
				<ol>
					<li>железнодорожный вокзал</li>
					<li>археологический музей</a></li>
				</ol>
			</p>
	<p>Стоимость входа в музей не помню – то ли 20, то ли 40 гривень. 
	Впечатление от музея – офигеть, не ожидал что там достаточно много 
	интересного, правда создалось впечатление что там почти половина 
	музейных экспонатов из
	<a title="Национальный археологический заповедник “Ольвия”" href="{{ getUrlByAlias('national-archaeological-park-olbia') }}">Ольвии</a>(<a title="Trip to Olbia(Olvia)" href="{{ getUrlByAlias('trip-to-olbia') }}">Поездка в Ольвию</a>), ну судя по их подписям :)
	 . Кроме греческих экспонатов там есть ещё экспонаты относящиеся к 
	древней Руси, и ещё более древние, боше всего заворожила коллекция 
	золотых экспонатов – вообще не ожидал подобные экспонаты увидеть, так же
	 не ожидал увидеть всякие египетские экспонаты, так что что бы 
	посмотреть на мумии в Египет ехать не обязательно :) </p>
	<p>Следующее по плану – найти автовокзал, ну а точнее цель в том что бы 
	узнать как можно доехать до Белгорода-Днестровского. Автовокзал 
	находиться возле рынка Привоз, это оказалось рядом с железнодорожным 
	вокзалом. К сожалению, моё предположение о том что с автовокзала ходят 
	автобусы в Белгород-Днестровский, оказалось неверным, там мне сказали 
	что туда ходят только электрички, так что я отправился на 
	железнодорожный вокзал и раздобыл там расписание электричек.</p>
	<p><a title="Расписание пригородных поездов Одесского региона" href="{{ getUrlByAlias('odessa-region-trains-timetable') }}">Расписание пригородных поездов Одесского региона</a></p>
	<p>Отлично – главная цель выполнена :)
	 , теперь можно и пошататься по городу. Пошатался я главным образом по 
	паркам – ничего особенного, под конец решил сходить к морю, долго не мог
	 найти где к ему спуститься, пока не дошёл до канатной дороги – тот раз у
	 меня был первым, когда я ездил осенью при приличном ветре на канатной 
	дороге – понравилось :)
	 , такой себе лёгкий экстрим. Когда спустился к морю, то пожалел что 
	оттягивал это на последний момент – осеннее море при лёгкой штормовой 
	погоде выглядело чудесно :) .</p>
	<p>Время было на исходе, канатная дорога закрылась, и я быстренько 
	побежал на верх, по дороге вызывая такси – служба такси сразу мне 
	показалась какой-то ненадёжной, и я уже было начал переживать о том как 
	добраться в аэропорт, но тот меня заметил дедушка на жигулях, и 
	предложил отвезти куда надо. Дедушка оказался коренным одесситом, и я 
	был счастлив что всё так сложилось, так как получилось наслушаться 
	одесского говора и шуток :) </p>
	<p>Все процедуры, связанные с вылетом, в одесском аэропорту прошли 
	неспеша, но чётко, запомнилось что в зале ожидания было очень тепло, 
	почти жарко :) </p>
	<p>При прилёте в Борисполь волновала мысль о том будит ли паспортный 
	контроль или нет – дошло ли уже всё до маразма или ещё нет, так как 
	прилетал я обратно тоже в терминал В, оказалось что там, всё таки, есть 
	проход в обход паспортного контроля.</p>
	<p>Ну и в конце на такси, домой и в кровать – спать.</p>
	<p>Поездка очень понравилась, так что в Одессу стоит ехать – даже на один день :) </p>
</article>
{% endblock %}