{% extends "article.html" %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
<article class="post type-post status-publish format-standard hentry">
		<h3>Поездка на Кинбурнский полуостров</h3>
        <p>И вот пришёл тот долгожданный день начала путешествия на Кинбурнский полуостров, рюкзак уже был собран,
        большей частью, неделю назад, и утром я только доукладывал немногие оставшиеся уложенными вещи,
        поэтому вечером быстро забежал, переоделся в походную одежду и рюкзак, и поехал прямиком на железнодорожный вокзал.
        </p>
		<p><span id="more"></span></p>
        <p>Путь на полуостров может показаться немного запутанным из-за того что надо будит ехать тремя видами транспорта:
		поездом, автобусом и баркасом, но от этого он ещё более увлекателен.</p>
		<p>И так, план путешествия:</p>
		<ul>
			<li>еду в Николаев</li>
			<li>из Николаева маршруткой в Очаков</li>
			<li>из Очакова баркасом на полуостров</li>
			<li>десантируюсь на полуострове, запасаюсь водой, иду в ту часть полуострова, которая и является Кинбурнской
			косой</li>
			<li>на следующий день иду на остриё со стороны Ягорлыцкого залива</li>
			<li>последний день, возвращение</li>
		</ul>
		<p>Переезд в Николаев, в моём случае ничего необычно - поезд Киев-Севастополь с высадкой в Николаеве.</p>	
		<p>Из Николаева в Очаков я поехал маршруткой с центрального автовокзала, хотя изначально планировал ехать
		автобусом с того же самого пригородного автовокзала с которого я ездил в Ольвию, но оказалось что пометка
		“через сёла” означает что он едет дугой через все сёла на берегу Южного Буга, и это в два раза дольше, если не в
		три. Точно утверждать не стану, но похоже что в Очаков маршрутки ходят и с ж/д вокзала, так что возможно мне не
		было необходимости разъезжать по городу, и можно было бы прямо с поезда в маршрутку.</p>
		<p>Переправа на полуостров (косу), о том где найти баркас, на котором я смогу переправиться на косу, я узнал уже
		по приезду в Очаков, оказывается есть два причала с которых ходят баркасы, 340-й и 333-й, с первого ходят чётко
		по расписанию, со второго кроме расписания ещё берётся во внимание спрос (заполнение баркаса), я поехал с 333-го,
		так как ближайшим по времени баркас был от туда.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/001.jpg"
				alt="план прохода от автовокзала Очакова к 333-му и 340-му причалам"/>
			<ol>
				<li>автовокзал</li>
				<li>333-й причал</li>
				<li>340-й причал</li>
			</ol>
		</p>
		<p>Десантирование на полуостров в посёлке Покровское. Да, это действительно десантирование, так как в том месте
		где причаливает баркас нет причала, поэтому необходимо спрыгивать с его, подобрав момент между накатами прибоя.
		После десантирования, я пошёл искать где мне запастись водой, выбрал я для этого один из окраинных дворов,
		который выглядел более приветливым, и после заполнения всех имеющихся ёмкостей и упаковки их в рюкзак, выдвинулся
		на остриё косы. К стати, одной из вещей, купленных мной для этого путешествия, была раскладная канистра (сумка)
		для воды, производства Tatonka, оказалась чрезвычайно удобным приспособлением, похожа на гармошку, без воды
		занимает достаточно мало места, объём 5 литров - советую.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/002.jpg"
				alt="схема пути на остриё косы"/>
			<ol>
				<li>место десантирования на полуостров</li>
				<li>остриё косы</li>
			</ol>
		</p>
		<p>О да, вот оно то место, куда я, не знаю почему, мечтал попасть, узкий кусочек суши, полностью покрытый
		различными птицами, с одной стороны Чёрное море, и буквально метр суши и с другой стороны Днепрово-Бужский лиман.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/003.jpg"
				alt="фотография острия косы"/>
		</p>
		<p>Вдоволь налюбовавшись этим местом, я решил идти в обратную сторону искать место для стоянки на ночь.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/004.jpg"
				alt="фотография с места первой стоянки"/>
		</p>
		<p>Второй день на косе. Утро, сборы, долгая дорога на второе остриё у Ягорлыцкого залива. По пути пополнение
		запасов воды в посёлке Покровка, и сбор рапанов на побережье - по пути, километра 2-3 побережья было усеяно
		рапанами, но мысль насобирать их пришла уже под конец этого рапанного кландайка, так что насобирал всего лишь
		около двух десятков.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/005.jpg"
				alt="схема пути на остриё возле Ягорлыцкого залива"/>
			<ol>
				<li>первое место стоянки</li>
				<li>второе остриё косы</li>
			</ol>
		</p>
		<p>Присытившись видами первого дня, остриё с этой стороны не так впечатлило, но тут однозначно есть что
		посмотреть, оно ведь совсем другое, тут нет сильного течения, и похоже из-за этого оно уходит далеко в море,
		выступая островком, но насколько далеко оно уходит я не проверял, и вообще, лучше не лезть в воду на этих остриях,
		мало ли как там песок лежит и как вода течёт, местные говорят что там даже зыбучие пески есть.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/006.jpg"
				alt="фотография второго острия"/>
		</p>
		<span id="hydrops"></span>
		<p>Время ещё было, так что я решил вернуться немного назад, и там уже остановиться на ночлег. На стоянке я
		обнаружил что ощущение того что у меня водянки на пальцах ног меня не обмануло, хоть кроссовки, в которых я
		поехал, были двухгодичной разношенности, я понял что дня путешествия по песчаной местности они не подходят, они
		через чур сетчатые и песок в них насыпался на раз, поэтому постоянно приходилось ходить с песком, что и послужило
		натиранию водянок, так что, для таких путешествий, надо обувь по закрытие.</p>
		<p>Последний день - длинная дорога назад. Возвращаться решил уже не по побережью а немного углубившись в
		полуостров, таким образом получилось пройти около ⅓ пути, потом надоело постоянно вглядываться под ноги, что бы
		не наступить на гадюку, а их в степной части косы, как и говорили местные жители, много, так что после встречи
		пятой особи этого пресмыкающегося, снова вернулся на побережье. Но за время ходьбы по полям, удалось насобирать
		трав, которые потом пригодились для заваривания чая, пока ждал прибытия баркаса. Так же удалось встретить табун
		диких лошадей, вожак которых меня немного напугал, намекнув мне что проявит агрессию в случае если я продолжу
		приближаться к ним, поэтому, немного с опаской, пришлось обогнуть их.</p>
		<p><img src="/images/trip-to-kinburn-peninsula/007.jpg"
				alt="фотография табуна лошадей"/>
		</p>
		<p>Ну вот и всё, я вернулся к тому месту на косе с которого я начал свой путь по ней, я сижу, пью чай из полевых
		трав, мысли текут размеренно, и осознание того что я покидаю это дикое место ещё не наступило, оно придёт позже,
		когда я буду переправляться обратно в Очаков, в битком набитом людьми баркасе, а пока что я наслаждаюсь
		умиротворением и гармонией с самим собой, которые даёт это мест, и я обязательно ещё приеду сюда.</p>
</article><!-- #post-73 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
{% endblock %}