{% extends "article.html" %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
<article class="post type-post status-publish format-standard hentry">
		<h3>Поездка в Ольвию</h2>
		<p>Эта поездка была моей первой которая предполагала путешествие не на
 прямую в нужную точку а с пересадками, конечно тот кто отправляется в 
подобную поездку на своей машине или часть пути проезжает на такси не 
встретиться со всеми препятствиями на пути и момент приезда в конечную 
точку не будит столь сладок <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
  – но это отдельная тема. Так вот, в виду того что это была первая 
поездка, не всё я, так сказать, законспектировал кое что не в полной 
мере, но в следующие разы обещаю исправиться <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
<p><span id="more"></span></p>
<p>И так, план поездки таковой:</p>
<ul>
<li>Еду в Херсон, там ночую у родителей</li>
<li>Утром еду в Николоев маршруткой</li>
<li>Из Николаева пригородным автобусом до Парутино</li>
<li>В Парутино нахожу <a title="Национальный археологический заповедник “Ольвия”" href="{{ getUrlByAlias('national-archaeological-park-olbia') }}">Ольвию (Национальный историко-археологический заповедник “Ольвия”)</a> и наслаждаюсь прогулкой по ей <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </li>
</ul>
<p>Переезд в Херсон – еду на автобусом, туда ездят автобусы компании 
Гюнсел (Gunsel), автобусы нормальные – MAN и Neoplan, поездам уже дано 
не езжу, так как в южном направлении никогда нет билетов. Билет 
Киев-Херсон стоил тогда 200 гривень.</p>
<p>Переезд в Николаев из Херсона – это самая лёгкая часть, так как с 
центрального автовокзала ходят маршрутки Херсон – Николаев на 
николаевский центральный автовокзал с интервалом 30 минут и в обратном 
направлении тоже так же, стоимость проезда 26 гривень.</p>
<p>Переезд в Парутино – вот тут уже началось приключение <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
 , я предварительно нагуглил где приблизительно находиться пригородный 
автовокзал но как до его добраться конечно же гугл не знает, поэтому я 
обратился к помощи всезнающих бабок вблизи автовокзала, они объяснили 
мне на какую остановку мне идти и что пригородный автовокзал находиться 
возле центрального рынка, то есть мне надо будит на нём выйти, и то что 
мне подходит любая маршрутка которая едет на Намыв.</p>
		<p><img src="/images/trip-to-olbia/001.jpg"
				alt="Cхема прохода на остановку маршруток"/>
			<ol>
				<li>цетральный автовокзал</li>
				<li>остановка маршруток</li>
			</ol>
		</p>
		<p><img src="/images/trip-to-olbia/002.jpg"
				alt="Cхема движения маршрутки от цетнрального автовокзала до центрального рынка"/>
			<ol>
				<li>остановка маршруток возле центрального автовокзала</li>
				<li>остановка маршруток возле цетрального рынка</li>
			</ol>
		</p>
<p>Доехав до центрального рынка и найдя пригородный автовокзал, 
оказалось что с его не ходят автобусы в Парутино, но у меня получилось 
узнать в кассе что оказывается рядом есть ещё один автовокзал, и с его 
ходят автобусы в нужный мне населённый пункт.</p>
		<p><img src="/images/trip-to-olbia/003.jpg"
				alt="Схема прохода ко второго пригородного автовокзала от остановки маршрутки на центральном рынке"/>
			<ol>
				<li>остановка маршруток возле цетрального рынка</li>
				<li>второй пригородный автовокзал</li>
			</ol>
		</p>
<p>И так, я на нужном автовокзале <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
  ближайший автобус на Парутино будит отправляться в 8:40, к сожалению 
полное расписание автобусов я не записал, точную цену билета не помню – 
ориентировочно в районе 15 грн.</p>
<p>8:40 – автобус, марки ЛАЗ, отправился полный набитый людьми, но 
пассажиры радовались что людей мало – никто не ехал стоя. Что бы доехать
 до последней остановки по разбитой дороге автобусу понадобилось час 
времени. На въезде в Парутино я заметил большой указатель гласящий куда 
идти к заповеднику, после высадке на местной автостанции, которая из 
себя представляет маленький домик с заколоченной дверь и выбитыми 
окнами, но расписание движения автобусов имелось в виде тетрадного 
листочка висящего в остатках окна, информацию с которого я опять забыл 
как-нибудь сохранить, я пошёл обратно к указателю и потом свернул в 
улочку возле которой он стоит, но как оказалось потом, указатель гласил о
 том что <a title="Национальный археологический заповедник “Ольвия”" href="{{ getUrlByAlias('national-archaeological-park-olbia') }}">Ольвия</a>
 с этой стороны Парутино, но не указывает на дорогу к ней, поэтому 
узнать как идти к заповеднику получилось только спросив у бабушки, 
которую я встретил в той улочки.</p>
		<p><img src="/images/trip-to-olbia/004.jpg"
				alt="Cхема прохода от автостанции к заповеднику Ольвия"/>
			<ol>
				<li>автостанкия</li>
				<li>вход в <a title="Национальный археологический заповедник “Ольвия”"
					href="{{ getUrlByAlias('national-archaeological-park-olbia') }}">заповедник Ольвия</a></li>
			</ol>
		</p>
<p>Наконец то – я у ворот заповедника <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
  Вход на экскурсионную территорию охраняется охранник – даже с 
автоматом, хотя не известно заряжен или нет, он сказал что вход 
оплачивать в бухгалтерии, обойти все музеи и развалины стоит 15 грн.</p>
<p>Рассказывать о содержимом заповедника не буду – лучше поехать и посмотреть <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
 , но советую попробовать договориться, например с охранной о том что бы
 они провели в те части заповедника, которые не включены в экскурсионный
 маршрут, я жалею что не подумал об этом на месте, но теперь есть повод 
ещё раз съездить <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
<p>После осмотра заповедника, я вернулся к автостанции где-то к 14:00, и
 как гласило расписание, ближайший автобус будит в 17:40, по этому решил
 попробовать словить попутку, но вот незадача, машины проезжали где-то 
раз в пятнадцать минут, и то видать местные, так как сворачивали в 
баковые улочки, поэтому простояв у дороги около двух часов решил бросить
 эту затею и дождаться автобуса.</p>
<p>Вся обратная дорого до Херсона уже была простой и быстрой, и я вернулся полный впечатлений после небольшого путешествия <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley"> </p>
</article><!-- #post-41 -->

						<div id="comments">
		
		<ol class="commentlist">
				<li class="comment even thread-even depth-1" id="li-comment-13">
		<article id="comment-13" class="comment">
			<footer class="comment-meta">
				<div class="comment-author vcard">
					<span class="fn">Кирилл</span> on <a href="{{ getUrlByAlias('trip-to-olbia') }}#comment-13"><time pubdate="" datetime="2011-12-20T03:39:48+00:00">December 20, 2011 at 3:39 am</time></a> <span class="says">said:</span>
									</div><!-- .comment-author .vcard -->

				
			</footer>

			<div class="comment-content"><p>Хочу где-то на новый год съездить в 
Ольвию, посмотреть на развалины. Как вы думаете, меня в заповедник 
пустят??? Есть ли где в Парутино переночевать???<br>
С уважением, Кирилл.</p>
</div>

		</article><!-- #comment-## -->

	<ul class="children">
	<li class="comment byuser comment-author-ukrainianside bypostauthor odd alt depth-2" id="li-comment-14">
		<article id="comment-14" class="comment">
			<footer class="comment-meta">
				<div class="comment-author vcard">
					<span class="fn">ukrainian side</span> on <a href="{{ getUrlByAlias('trip-to-olbia') }}#comment-14"><time pubdate="" datetime="2011-12-20T09:18:42+00:00">December 20, 2011 at 9:18 am</time></a> <span class="says">said:</span>
									</div><!-- .comment-author .vcard -->

				
			</footer>

			<div class="comment-content"><p>Думаю пустят, так как в не выходные 
дни он должен работать как любая другая гос структура, то есть с 3-го по
 6-е точно работать будит, и думаю что даже в выходной день можно будит 
попасть на территорию – договорившись с охранником, думаю что это должно
 быть не трудно, вы же не сможете утащить с собой пару каменных плит <img src="/content/icons/icon_smile.gif" alt=":)" class="wp-smiley">
 , правда в выходной день наверное никого не будит кто сможет открыть 
вам музеи и не уверен на счёт склепов – откроет их охранник или нет. На 
счёт ночлега – я не увидел никакого намёка на гостиницы(у) пока шатался 
по Парутино, так что если хочется переночевать то надо будит проситься к
 кому-то на ночлег, ну есть конечно вариант ночевать в палатке, но не 
зимой, по крайней мере мне бы не хотелось.</p>
</div>

		</article><!-- #comment-## -->

	</li>
</ul>
</li>
		</ol>
			
</div><!-- #comments -->

				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
{% endblock %}