{% extends "base.html" %}

{% from "macroses/social.macro" import social as social%}

{% block headerContent %}
	<title>Посещение Белгорода-Днестровского | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}">
	<meta name="description" content="{{getAticleDescByAlias(articleAlias)}}">
{% endblock %}


{% block bodyStyles %}single single-post postid-73 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block mainContent %}
	<div id="main">
		<div id="primary">
			<div>
				{{social(articleAlias)}}

<article class="post type-post status-publish format-standard hentry">
		<h3>Посещение Белгорода-Днестровского</h2>
        <p>Идея посещения этого города у меня возникла, главным образом, из-за того что на его территории находятся
        руины древнегреческого города Тиры, ну а Аккерманская крепость для меня была второстепенна, хотя и не менее
        интересна.</p>
        <p><span id="more"></span></p>
        <p>Так как посещение Белгород-Днестровского для меня было бы наиболее удобным с отправной точкой из Херсона,
        то и запланировал я это мероприятие на ближайшее своё длительное пребывание в нём.</p>
        <p>План поездки:</p>
        <ul>
            <li>из Херсона в Одессу</li>
            <li>из Одессы в Белгород-Днестровский</li>
            <li>осмотр руин Тиры и Аккерманской крепости</li>
            <li>возвращение в Херсон через Одессу</li>
        </ul>
        <p>Переезд из Херсона в Одессу очень прост, на центральном автовокзале Херсона сажусь, ранним утром, точно не
        помню, где-то в 6:30, на первую маршрутку до Одессы, которые ходят с интервалом в час, и через три часа я там.
        Стоимость проезда была на то время 70 грн. Прибывает она к центральному автовокзалу Одессы.</p>
        <p>Изначально я планировал добираться до Белгород-Днестровского на пригородном поезде, даже предварительно
		запасся расписанием во время
		<a href="{{getUrlByAlias('one-day-in-odessa')}}" title="Один день в Одессе">предыдущей поездки в Одессу</a>,
		но из-за того что они не очень удобно ходят, я поразмыслил над другим способом переезда, и тогда мне в голову
		пришла вполне очевидная мысль, что туда должны ходить маршрутки, на это я и положился, но заранее я не знал с
		какого места в Одессе ходят маршрутки в Белгород-Днестровский, но предполагал что я их
        смогу найти около автовокзала, оказалось что моё предположение не верно, и смог я их найти возле ж/д вокзала.</p>
		<p><img src="http://picpuk.ru/pics/getbyid/72"
				alt="cхема прохода к ж/д вокзалу от автовокзала"/>
			<ol>
				<li>цетральный автовокзал</li>
				<li>остановка маршруток на Белгород-Днестровский возле ж/д вокзала</li>
			</ol>
		</p>
        <p>Маршрутка из Одессы до Белгород-Днестровского идёт около часа, и стоимость проезда в ней была 25 грн.</p>
        <p>По дороге из Одессы в Белгород-Днестровский я впервые, проездом, побывал в Затоке, хотя тогда я ещё не знал
        что это она, моё внимание привлёк населённый пункт, расположенный на узкой полоске суши, омываемая с одной
        стороны Днестровским лиманом и Чёрным морем с другой стороны, тогда то мне и пришла в голову мысль что это не
        плохое место для отдыха у моря, а в последствии я узнал что это та самая Затока, которая уже давно многими
        облюбована именно для такого рода отдыха.</p>
        <p>И вот, после пяти часов пути от Херсона, я на месте, ну правда ещё не совсем, пока что только на автовокзала,
        по совместительству и ж/д вокзале, в Белгороде-Днестровском, но тут уже пустяк остался — всего лишь, можно
        сказать, по прямой пройтись.</p>
		<p><img src="http://picpuk.ru/pics/getbyid/73"
				alt="схема прохода от автовокзала к Аккерманской крепости и руины Тиры"/>
			<ol>
				<li>автовокзал</li>
				<li>Аккерманская крепость и руины Тиры</li>
			</ol>
		</p>
        <p>Пройдясь по улочкам города, создалось впечатление что время тут застыло в двух эпохах: царской России и
        советском союзе, так как много построек по виду напоминающих купеческие дома, местами просматривается брусчатка,
        а почти всё остальное, выглядит как при советском союзе, и похоже, что последний раз ремонтировалось тогда же.</p>
        <p>Спустя минут 10 ходьбы завиднелась крепость — это была первая турецкая крепость которую я видел. Я не
        специалист в фортификации, поэтому не смогу описать её как полагается, а в вкратце — большая, простенькая,
        без ухищрений.</p>
        <p>Но, на самом то деле, меня больше интересовали остатки Тиры, но понят где они здесь находятся у меня не
        получалось, поэтому я уточнил у «администрации крепости», на что они мне ответили что я смогу их найти снаружи,
        с правой стороны от крепостных ворот. Оказалось что не так уж много тут раскопано, оно то и немудрено, похоже
        что крепость построена на развалинах древнего города, возможно что даже из его камня.</p>
        <p>Ну что же, вдоволь нагулявшись, пора и в обратный путь, а он то не близкий, но жажда впечатлений стоит того
        что бы изнурять себя дорогой.</p>
</article><!-- #post-73 -->
				
			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
</div><!-- #page -->
</body>
{% endblock %}