#site-title a {
	color: #111111;
	line-height: 36px;
	text-decoration: none;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color: #1982d1;
}

h3 a{
	color: #111111;
}

h3 a:hover,
h3 a:focus,
h3 a:active {
	color: #1982d1;
}