{% extends "base.html" %}

{% block headerContent %}
	<title>{{articleTitle}} | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}" />
	<meta name="title" content="{{articleTitle}}" />
	<meta name="description" content="{{getArticleEscapedDescByAlias(articleAlias)}}" />
    <link rel="image_src" href="{{getArticleMainImageUrl(articleAlias)}}" />
    
    <meta itemprop="name" content="{{articleTitle}}" />
    <meta itemprop="description" content="{{getArticleEscapedDescByAlias(articleAlias)}}" />
    <meta itemprop="image" content="{{getArticleMainImageUrl(articleAlias)}}" />
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ukrainianside" />
    <meta name="twitter:creator" content="@ukrainianside" />
    <meta name="twitter:domain" content="ukrainianside.com" />
    <meta name="twitter:title" content="{{articleTitle}}" />
    <meta name="twitter:description" content="{{getArticleEscapedDescByAlias(articleAlias)}}" />
    <meta name="twitter:image:src" content="{{getArticleMainImageUrl(articleAlias)}}" />
    <!-- /Twitter Card data -->
    
    <!-- Open Graph data -->
	<meta property="og:site_name" content="ukrainianside" />
	<meta property="og:url" content="{{ getUrlByAlias(articleAlias) }}" />
	<meta property="og:title" content="{{articleTitle}}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{getArticleEscapedDescByAlias(articleAlias)}}" />
    <meta property="og:image" content="{{getArticleMainImageUrl(articleAlias)}}" />
    <!-- /Open Graph data -->
{% endblock %}

{% block social %}
    <table class="social">
        <tr>
            <td><h4>Поделиться в&nbsp;</h4></td>
            <td>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{getQuotedUrlByAlias(articleAlias)}}"
                   target="_blank"><div class="social share-btn fb-share-btn"></div></a>
            </td>
            <td >
                <a href="https://plus.google.com/share?url={{getQuotedUrlByAlias(articleAlias)}}"
                   target="_blank"><div class="social share-btn plus-share-btn"></div></a>
            </td>
            <td >
                <a href="http://vkontakte.ru/share.php?url={{getQuotedUrlByAlias(articleAlias)}}"
                    target="_blank"><div class="social share-btn vk-share-btn"></div></a> 
            </td>
            <td >
                <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl={{getQuotedUrlByAlias(articleAlias)}}"
                    target="_blank"><div class="social share-btn od-share-btn"></div></a> 
            </td>
            <td >
                <a href="http://twitter.com/intent/tweet?url={{getQuotedUrlByAlias(articleAlias)}}&text={{quote(articleTitle)}}"
                    target="_blank"><div class="social share-btn tw-share-btn"></div></a> 
            </td>
        </tr>
    </table>
{% endblock %}

{% block mainContent %}
    <div class="small-12 large-12 columns">
        {% block articleContent %}
        {% endblock %}
    </div>
{% endblock %}