{% extends "base.html" %}

{% block headerContent %}
    <link rel="stylesheet" href="http://podelitsya.com/css">
    
    <script type="text/javascript" src="/zepto"></script>
    
	<title>{{articleTitle}} | Украинская сторонка</title>
	<link rel="canonical" href="{{ getUrlByAlias(articleAlias) }}">
	<meta name="title" content="{{articleTitle}}">
	<meta name="description" content="{{getAticleEscapedDescByAlias(articleAlias)}}">
	<meta content="ukrainianside" property="og:site_name">
	<meta content="{{ getUrlByAlias(articleAlias) }}" property="og:url">
	<meta content="{{articleTitle}}" property="og:title">
	<meta content="article" property="og:type">
	<meta property="og:description" content="{{getAticleEscapedDescByAlias(articleAlias)}}">
{% endblock %}


{% block bodyStyles %}single single-post postid-73 single-format-standard single-author singular two-column right-sidebar{% endblock %}

{% block social %}
    <div id="social"></div>
    <script type="text/javascript">
        $.get('http://podelitsya.com/social?url={{getQuotedUrlByAlias(articleAlias)}}&title={{articleTitle}}', function(res){
            $('#social').html(res);
        });
    </script>
{% endblock %}

{% block mainContent %}

{% endblock %}