<!DOCTYPE html>

<html>
    <head>
        
        <meta name='yandex-verification' content='642ce14cc531b9fb' />
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <!-- link rel='stylesheet' href='/css' -->

        <!-- link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" -->
        <!-- link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" -->
        
        <link rel="stylesheet" href="/normalize" />
        <link rel="stylesheet" href="/foundation5" />
        
        {% block headerContent %}
            <title>Украинская сторонка | Путешествия по Украине</title>
            <meta name="description" 
                content="Туризм, отдых, походы и путешествия в Украине. Опыт использования и обзоры туристического снаряжения. История и описание интересных мест Украины.">
        {% endblock %}
    </head>
    <body>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter17148058 = new Ya.Metrika({id:17148058, enableAll: true, webvisor:true});
                } catch(e) { }
            });
            
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/17148058" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <div class='row'>
            <div class="large-1 columns">
                <a href="/">
                    <img src='/images/logo.jpg' title='Украинская сторонка' alt='Украинская сторонка'/>
                </a>
            </div>
            <div class="large-11 columns">
                <p><h1>Украинская сторонка</h1></p>
                <small>Путешествия по Украине</small>
            </div>
        </div>
        {% block social %}
        {% endblock %}
        {% block mainContent %}
        {% endblock %}
    </body>
</html>