<!DOCTYPE html>

<html>
    <head>
        
        <meta name='yandex-verification' content='642ce14cc531b9fb' />
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <link rel='stylesheet' href='/css' />
        
        <link rel="stylesheet" href="/normalize" />
        <link rel="stylesheet" href="/foundation5" />
        
        {% block headerContent %}
            <title>Украинская сторонка | Путешествия по Украине</title>
            <meta name="description" 
                content="Туризм, отдых, походы и путешествия в Украине. Опыт использования и обзоры туристического снаряжения. История и описание интересных мест Украины.">
        {% endblock %}
    </head>
    <body>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter17148058 = new Ya.Metrika({id:17148058, enableAll: true, webvisor:true});
                } catch(e) { }
            });
            
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/17148058" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <div class="uaside-header">
            <div class="row">
                <div class="small-3 medium-2 large-2 columns">
                    <a href="/">
                        <img src='/images/logo.jpg' title='Украинская сторонка' alt='Украинская сторонка'/>
                    </a>
                </div>
                <div class="small-9 medium-10 large-10 columns">
                    <h1>Украинская сторонка</h1>
                    <h6>Путешествия по Украине</h6>
                </div>
            </div>
        </div>
        <div class="row">
            {% block social %}
            {% endblock %}
            {% block mainContent %}
            {% endblock %}
        </div>
        <div class="uaside-footer">
            <div class="row">
                <div class="medium-7 large-9 columns"></div>
                <div class="medium-5 large-3 columns">
                    <table class="right social">
                        <tr>
                            <td>
                                <a href="https://www.facebook.com/pages/%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F-%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D0%BA%D0%B0/553617881389312">
                                    <div class="social social-btn fb-round-btn"></div></a>
                            </td>
                            <td>
                                <a href="https://plus.google.com/115514295390048380057">
                                    <div class="social social-btn plus-round-btn"></div></a>
                            </td>
                            <td>
                                <a href="http://vk.com/ukrainianside">
                                    <div class="social social-btn vk-round-btn"></div></a>
                            </td>
                            <td>
                                <a href="http://www.odnoklassniki.ru/group/53020885516404">
                                    <div class="social social-btn od-round-btn"></div></a>
                            </td>
                            <td>
                                <a href="https://twitter.com/ukrainianside">
                                    <div class="social social-btn tw-round-btn"></div></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>