<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'> 
        <!-- Foundation -->
            <meta name='viewport' content='width=device-width, initial-scale=1.0'>
            <link rel="stylesheet" href="/foundation/css/normalize.css" />
            <link rel="stylesheet" href="/foundation/css/foundation.min.css" />
            <script type="text/javascript" src="/foundation/js/vendor/custom.modernizr.js"></script>
        <!-- /Foundation -->
        <!-- JQuery -->
            <script type="text/javascript" src="/jquery/jquery-2.0.3.min.js"></script>
        <!-- /JQuery -->
        <link href='/css' rel='stylesheet'>
        <script type="text/javascript" src="/js"></script>
        {% block head %}
            <title>{% trans %}site_title_abbreviation{% endtrans %} | {% trans %}site_title{% endtrans %}</title>
        {% endblock %}
        <meta name="description" 
            content="{% trans %}site_description{% endtrans %}">
        <meta name="keywords" content="{% trans %}site_keywords{% endtrans %}">
    </head>
    <body>
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name"><h1><a href="/">{% trans %}site_title_abbreviation{% endtrans %}</a></h1></li>
                {% if lng != 'RU'%}
                    <li class="lang_menu"><a href="http://ru.domainanonymousproxy.com">RU</a></li>
                {% endif %}
                {% if lng != 'EN'%}
                    <li class="lang_menu"><a href="http://domainanonymousproxy.com">EN</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Foundation -->
            <script type="text/javascript" src="/foundation/js/foundation.min.js"></script>
            <script type="text/javascript">
                $(document).foundation();
            </script>
        <!-- /Foundation -->
    </body>
</html>