{% extends "base.html" %}
{% block content %}
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">http://</span>
		</div>
		<div class="small-6 large-8 columns">
			<input id="domain_value" type="text" name="domain" 
				placeholder="{% trans %}domain_value_placeholder{% endtrans %}">
		</div>
		<div class="small-3 large-2 columns">
			<button id="check_proxies_btn" type="button" class="button prefix" >{% trans %}check_btn{% endtrans %}</button>
		</div>
	</div>
	<div class="row">
		<div class="small-offset-3 large-offset-3 small-6 large-6 columns">
			<h3>{% trans %}proxies_tbl_title{% endtrans %}</h3></div>
	</div>
	<div class="row">
		<div class="small-offset-3 large-offset-3 small-6 large-6 columns">
			<table id="container_proxies">
				<thead>
					<tr>
						<th class="ip_address_title">{% trans %}ip_address_title{% endtrans %}</th>
						<th class="port_title">{% trans %}port_title{% endtrans %}</th>
						<th class="status_title">{% trans %}status_title{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
				{% for proxy in proxies %}
					<tr>
						<td>{{proxy['ip']}}</td>
						<td valign="middle">{{proxy['port']}}</td>
						<td id="proxy_status_{{proxy['id']}}">
							<span class="round label not_checked_status">not checked</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		var jproxies = '{{jproxies}}'
		var proxies = eval(jproxies)
		var domain_value = ''
		var proxy_status_prefix = 'proxy_status_'
		container_proxies = $('#container_proxies');
		
		function get_accessibility(){
			$.getJSON( "/get_10_checked?domain=" + domain_value, function(data){
				for (var i in data) {
					$('#' + proxy_status_prefix + data[i]['id']).
						html('<span class="round label accessible_status">accessible</span>');
				}
			});
			$.getJSON( "/is_check_finished?domain=" + domain_value, function(data){
				if(!data){
					setTimeout(get_accessibility, 1000);
				}else{
					$('.checking_progress').each(function(){
						$(this).parent().html('<span class="round label unaccessible_status">unaccessible</span>');
					});
				}
			});
		}
		
		$('#check_proxies_btn').click(function(){
			domain_value = $('#domain_value').val()
			$.post('/check_10', {domain: domain_value, jproxies: jproxies}, function(data){
				for (var i in proxies) {
					proxy_status_td = $('#' + proxy_status_prefix + proxies[i]['id']);
					proxy_status_td.
						html('<span class="round label checking_status">checking</span>' +
							'<img class="checking_progress" src="/images/checking.gif" alt="Checking..." />');
				}
			});
			
			setTimeout(get_accessibility, 1000);
		});
	</script>
{% endblock %}
