{% extends "base.html" %}
{% block content %}
	<form method="POST">
		<div class="row collapse">
			<div class="small-3 large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-6 large-8 columns">
				<input type="text" name="domain" placeholder="Enter Domain or URL...">
			</div>
			<div class="small-3 large-2 columns">
				<input type="submit" class="button prefix" value="Check" />
			</div>
		</div>
		<input type="hidden" id="domain_value" value="{% if domain is not none %}{{domain}}{% endif %}" />
		<a href="#" id="view_10_checked" class="button">View 10 checked</a>
		<div id="container_10_checked"></div>
		<script type="text/javascript">
			$('#view_10_checked').click(function(){
				$.getJSON( "/get_10_checked?domain=" + $('#domain_value').val(), function(data){
					container_10_checked = $('#container_10_checked');
					container_10_checked.html('');
					html_10_checked = '<table>';
					for (var i in data) {
						html_10_checked += '<tr><td>' + data[i]['ip'] + '</td><td>' + data[i]['ip'] + '</td><tr>';
					}
					html_10_checked += '</table>';
					container_10_checked.html(html_10_checked);
				});
			});
		</script>
	</form>
{% endblock %}
