{% extends "base.html" %}
{% block content %}
	<div class="row collapse">
		<div class="small-3 large-2 columns">
			<span class="prefix">http://</span>
		</div>
		<div class="small-6 large-8 columns">
			<input id="domain_value" type="text" name="domain" placeholder="Enter Domain or URL...">
		</div>
		<div class="small-3 large-2 columns">
			<button id="check_proxies_btn" type="button" class="button prefix" >Check</button>
		</div>
	</div>
	<input type="hidden" id="domain_value" value="{% if domain is not none %}{{domain}}{% endif %}" />
	<button id="view_10_checked_btn" class="button" type="button">View 10 checked</button>
	<div id="container_proxies"></div>
	<script type="text/javascript">
		var domain_value = ''
		var proxy_status_prefix = 'proxy_status_'
		container_proxies = $('#container_proxies');
		$('#check_proxies_btn').click(function(){
			domain_value = $('#domain_value').val()
			$.getJSON('/check_10?domain=' + domain_value, function(data){
				html_proxies = '<table>';
				for (var i in data) {
					html_proxies += '<tr><td>' + data[i]['ip'] + '</td><td>' + data[i]['port'] +
						'</td><td id="' + proxy_status_prefix + data[i]['id'] + '"></td><tr>';
				}
				html_proxies += '</table>';
				container_proxies.html(html_proxies);
			});
		});
		$('#view_10_checked_btn').click(function(){
			$.getJSON( "/get_10_checked?domain=" + domain_value, function(data){
				for (var i in data) {
					$('#' + proxy_status_prefix + data[i]['id']).html('accessible');
				}
			});
		});
	</script>
{% endblock %}
