body {
	background-color: #F7F7F7;
	color: #333333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.header{
	height: 30px;
}
.header-side{
	height: 10px;
}
.header-side, .header{
	background-color: #315D86;
}