<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>Поделится в социальных сетях</title>
        <link rel="canonical" href="http://podelitsya.com">
        <meta name="title" content="Поделится в социальных сетях">
        <meta name="description" content="Легко и быстро встраиваемые социальные кнопки, дающий возможность посетителям поделится со своими друзьями">
        <meta content="podelitsya" property="og:site_name">
        <meta content="http://podelitsya.com" property="og:url">
        <meta content="Поделится в социальных сетях" property="og:title">
        <meta content="website" property="og:type">
        <meta property="og:description" content="Легко и быстро встраиваемые социальные кнопки, дающий возможность посетителям поделится со своими друзьями">
        
        <link rel="stylesheet" href="/normalize">
        <link rel="stylesheet" href="/foundation4">
        <link rel="stylesheet" href="/css">
    </head>
    <body>
            <div class="row skin-row">
                <div class="small-12 columns header"></div>
            </div>
            <div class="row skin-row">
                <div class="small-1 columns header-side"></div>
                <div class="small-10 columns content"></div>
                <div class="small-1 columns header-side"></div>
            </div>
            <div class="row skin-row">
            </div>
</html>