<table class="social-share">
    <tr>
        {% if display_label %}
            <td><h4>Поделиться в&nbsp;</h4></td>
        {% endif %}
        <td>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{quoted_url}}"
               target="_blank"><div class="social share-btn fb-share-btn"></div></a>
        </td>
        <td >
            <a href="https://plus.google.com/share?url={{quoted_url}}"
               target="_blank"><div class="social share-btn plus-share-btn"></div></a>
        </td>
        <td >
            <a href="http://vkontakte.ru/share.php?url={{quoted_url}}"
                target="_blank"><div class="social share-btn vk-share-btn"></div></a> 
        </td>
        <td >
            <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl={{quoted_url}}"
                target="_blank"><div class="social share-btn od-share-btn"></div></a> 
        </td>
        <td >
            <a href="http://twitter.com/intent/tweet?url={{quoted_url}}&text={{title}}"
                target="_blank"><div class="social share-btn tw-share-btn"></div></a> 
        </td>
    </tr>
</table>
