<table class='table'>
    <thead>
        <tr>
            <th>{% trans %}train_number{% endtrans %}</th>
            <th>{% trans %}путь следования{% endtrans %}</th>
            <th>{% trans %}отправление - прибытие{% endtrans %}</th>
            <th>{% trans %}периодичность{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for r in railway.routes %}
        {% for rt in r.route_trains %}
            {% if not rt.is_reverse %}
                <tr>
                    <td><a href='http://uatrains.com/{{rt.train.id}}'>{{rt.train.value}}</a></td>
                    <td><a href='http://uatrains.com/{{rt.train.id}}'>{{get_lng_title(rt.train, lng)}}</a></td>
                    <td>{{(rt.train.t_ss|first).departure}} - {{(rt.train.t_ss|last).arrival}}</td>
                    <td>{{get_lng_period(rt.train, lng)}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        {% for rt in r.route_trains %}
            {% if rt.is_reverse %}
                <tr>
                    <td><a href='http://uatrains.com/{{rt.train.id}}'>{{rt.train.value}}</a></td>
                    <td><a href='http://uatrains.com/{{rt.train.id}}'>{{get_lng_title(rt.train, lng)}}</a></td>
                    <td>{{(rt.train.t_ss|first).departure}} - {{(rt.train.t_ss|last).arrival}}</td>
                    <td>{{get_lng_period(rt.train, lng)}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
