{% extends "base.html" %}
{% block head %}
	<title>{% if lng == 'EN' %}st.{% else %}ст.{% endif %} {{get_lng_title(station, lng)}}: {% trans %}station_page_title{% endtrans %}</title>
{% endblock %}
{% block body %}
	<table class='table'>
		<caption><h3>{% trans %}station_prefix{% endtrans %} {{get_lng_title(station, lng)}}</h3></caption>
		<thead>
			<tr>
				<th>{% trans %}train_number{% endtrans %}</th>
				<th>{% trans %}путь следования{% endtrans %}</th>
				<th>{% trans %}периодичность{% endtrans %}</th>
				<th>{% trans %}прибытие{% endtrans %}</th>
				<th>{% trans %}отправление{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		{% for st in station_trains %}
			<tr>
				<td><a href='/{{st.t.id}}'>{{st.t.value}}</a></td>
				<td><a href='/{{st.t.id}}'>{{get_lng_title(st.t, lng)}}</a></td>
				<td>{{get_lng_period(st.t, lng)}}</td>
				<td>
					{% if st.arrival is not none %}
						{{st.arrival}}
					{% else %}
						-
					{% endif %}
				</td>
				<td>
					{% if st.departure is not none %}
						{{st.departure}}
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}